body{
    font-family:Consolas;
    background-color:darkgrey;
}

nav {
    background-color:black;
    margin:2px; 
    padding:2px;
    display:block;
}

nav ul{
    list-style:none;
}

nav li {
    padding-left:10px;
    display:inline;
}

nav a {
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:green;
}